
slides > slide {
  font-size: 30px;
  line-height: 40px;
}

h2 {
  font-size: 48px;
  line-height: 50px;
}

h3 {
  font-size: 36px;
}

a.plain {
  border-bottom: none;
}

.quote {
  q {
    font-size: 40px;
    line-height: 50px;
  }

  .author {
    bottom: 180px;
  }
}

.logoslide {
  a {
    color: #0193de;
    font-weight: 600;
    border-bottom: none;
    margin-bottom: 10px;
  }

  img {
    margin-bottom: 30px;
  }
}

article.smaller {
  ul, p {
    font-size: 25px;
  }
}
